<section>
    <div class="display-6">Список сторінок</div>
    <p>Список сторінок які вивів за практику HTML та Bootstrap</p>
</section>
<section class="row g-3 pt-5">
    <div>
        <a class="btn btn-primary col-2" href="/bio">Bio</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/Car">Car</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/education">Education</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/facebook">Facebook</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/js">Js</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/mac">Mac</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/person">Person</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/program">Program</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/shopcart">Shopcart</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/shopcatalog">Shopcatalog</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/shoporder">Shoporder</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/shopprofile">Shopprofile</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/shopreview">Shopreview</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/skils">Skills</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/summary">Summary</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/task21">Task21</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/task22">Task22</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/task31">Task31</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/web">Web</a>
    </div>
    <div>
        <a class="btn btn-primary col-2" href="/work">Work</a>
    </div>
</section>